.navbar {
    background-color: white;
    color: black;
    display: flex;
    width: 100%; /* Set width to full width */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed; /* Fix the navbar position */
    top: 0; /* Align navbar to the top of the viewport */
    left: 0; /* Align navbar to the left of the viewport */
    z-index: 1000; /* Ensure navbar is above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left:30px;
    color:blue;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    padding: 10px 15px;
}

.nav-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: black; /* Change color on hover */
}


.navbar-nav .em button {
    background-color: white;
    color: blue;
    border: 1px solid blue;
    border-radius: 20px; /* Adjust the border radius as needed */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left:50px;
}

.navbar-nav .signup button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px; /* Adjust the border radius as needed */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right:50px;
}